* {
    padding: 0px;
    margin: 0px;
}



body {
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure full viewport height */
}



.container-info-empleado {
    position: relative;
    top: -380px;
    left: 32%;

}


/* COLOR DE TEXTO DE APELLIDO */
.name {
    font-size: 50px;
    text-transform: uppercase;

}


.last-name {
    color: #104c90 !important;
    font-size: 50px;
    text-transform: uppercase;

}

.text-information {
    font-size: 19px;
    color: rgb(0, 0, 0);
}

/*  FIN COLOR DE TEXTO DE APELLIDO */

.email-box {
    display: inline-block;
    background-color: #11111f;
    /* Color de fondo del cuadro azul */
    color: #ffffff;
    /* Color del texto dentro del cuadro azul */
    padding: 5px 10px;
    /* Espaciado interno del cuadro azul */
    border-radius: 5px;
    /* Bordes redondeados */
    /* width: 65px; */
    width: 35px;

    text-align: center;
}

/* ============== este seria para el que genera la imagen y como se generaria========== */



.information-list {
    font-size: 27px;
}

ul {
    list-style-type: none;
    /* Quitar los puntos de la lista */
    padding: 0;
    /* Eliminar el espacio interno predeterminado de la lista */
    margin: 0;
    /* Eliminar el margen predeterminado de la lista */
}

.correo-img {
    /* height: 392px;
    width: 1144px; */
    height: 439px;
    width: 1189px;
    padding: 0px;
}

#firma-generada {
    /* height: 392px;
    width: 1144px; */
    height: 439px;
    width: 1189px;
    padding: 0px;
}


/* FOOTER */

.container-footer {
    background-color: #061623;
    bottom: 0;
    width: 100%;
}

.navbar-generador {
    background-color: #061623;
    color: white !important;
}

.option-nav {
    color: white;

}

.option-nav:hover {
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: all;
}

.logo-footer {
    width: 60px;
}



#Qr_Ubicacion_img {
    width: 91px;
}



.Qr_Ubicacion-Generada {
    position: relative;
    top: -431px;
    left: 74.5%;
}

#line-container {
    width: fit-content;
    /* Esto hace que el contenedor tenga el ancho justo necesario */
}


/* Agrega este estilo al final de tu archivo de estilo CSS */

/* Estilo para la línea azul debajo del texto del área */
#text-information-area:after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background-color: #004b93;
    margin-top: 5px;
    /* Ajusta este valor según sea necesario */
}

.sin-telefono {
    background-color: white;
    color: white;
}

@media (max-width: 767px) {
    .firma-generada {
        overflow-x: auto;
        white-space: nowrap;
        /* Evita que el contenido se desborde a la siguiente línea */
    }

    .correo-img-generada {
        height: 307px;
        width: 1144px;
        padding: 0px;
    }

    .logo-footer {
        margin-top: 10px;
    }
}


/* ESTILOS PARA BOTON DE GENERAR FIRMA */
button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #004b93;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #004b93;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #004b93;
}

button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #004b93;
}

button:active {
    transform: scale(0.9);
}

/* Estilo para el fondo borroso */
.blur-background {
    filter: blur(5px);
    /* Ajusta el valor según sea necesario */
    pointer-events: none;
    /* Permite hacer clic a través del fondo borroso */
}

/* ESTO ES PARA EL TAMAÑO DE LA FUENTE DE LA IMAGEN QUE SE GENERA DE LA FIRMA */
.information-generada {
    font-size: 39px;
}

.email-box-generador {
    display: inline-block;
    background-color: #11111f;
    /* Color de fondo del cuadro azul */
    color: #ffffff;
    /* Color del texto dentro del cuadro azul */
    padding: 45px 45px;
    /* Espaciado interno del cuadro azul */
    border-radius: 5px;
    /* Bordes redondeados */
    /* width: 65px; */
    width: 58px;

    text-align: center;
}

.container-info-empleado-generado {
    position: relative;
    top: -425px;
    /* Para mover el texto a la izquierda */
    left: 30%;
}

/* PARA UBICACION DEL QR */
#Qr_Ubicacion_img-generada {
    width: 200px;

}

/* .CON ESTO SE MOVERA EL QR LA POSICION */
.Qr_Ubicacion {
    position: relative;
    top: -180px;
    left: 610px;
}

.area {
    font-size: 50px;
}

.area-generador {
    font-size: 25.5px;
    font-weight: bold;
}