* {
    padding: 0px;
    margin: 0px;
}



body {
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure full viewport height */
}



.container-info-empleado {
    position: relative;
    top: -310px;
    /* Para mover el texto a la izquierda */
    left: 36%;

}

.container-info-empleado-generado {
    position: relative;
    top: -335px;
    /* Para mover el texto a la izquierda */
    left: 36%;
}

/* COLOR DE TEXTO DE APELLIDO */
.name {
    font-size: 50px;
    text-transform: uppercase;

}

.last-name {
    color: #104c90 !important;
    font-size: 50px;
    text-transform: uppercase;

}

.text-information {
    font-size: 19px;
    color: rgb(0, 0, 0);
}

/*  FIN COLOR DE TEXTO DE APELLIDO */

.email-box {
    display: inline-block;
    background-color: #11111f;
    /* Color de fondo del cuadro azul */
    color: #ffffff;
    /* Color del texto dentro del cuadro azul */
    padding: 5px 10px;
    /* Espaciado interno del cuadro azul */
    border-radius: 5px;
    /* Bordes redondeados */
    /* width: 65px; */
    width: 35px;

    text-align: center;
}

/* ============== este seria para el que genera la imagen y como se generaria========== */

.email-box-generador {
    display: inline-block;
    background-color: #11111f;
    /* Color de fondo del cuadro azul */
    color: #ffffff;
    /* Color del texto dentro del cuadro azul */
    padding: 5px 10px;
    /* Espaciado interno del cuadro azul */
    border-radius: 5px;
    /* Bordes redondeados */
    /* width: 65px; */
    width: 50px;

    text-align: center;
}

.information-list {
    font-size: 27px;
}

ul {
    list-style-type: none;
    /* Quitar los puntos de la lista */
    padding: 0;
    /* Eliminar el espacio interno predeterminado de la lista */
    margin: 0;
    /* Eliminar el margen predeterminado de la lista */
}

.correo-img {
    height: 392px;
    width: 1144px;
    padding: 0px;
}

#firma-generada{
    height: 392px;
    width: 1144px;
    padding: 0px;
}


/* FOOTER */

.container-footer {
    background-color: #061623;

    position: fixed;
    bottom: 0;
    width: 100%;
}


.logo-footer {
    width: 60px;
}

/* PARA UBICACION DEL QR */
#Qr_Ubicacion_img {
    width: 91px;
   
}

.Qr_Ubicacion {
    position: relative;
    top: -171px;
    left: 625px;
}

.Qr_Ubicacion-Generada {
    position: relative;
    top: -549px;
    left: 90.5%;
}

#line-container {
    width: fit-content;
    /* Esto hace que el contenedor tenga el ancho justo necesario */
}


/* Agrega este estilo al final de tu archivo de estilo CSS */

/* Estilo para la línea azul debajo del texto del área */
#text-information-area:after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background-color: #004b93;
    margin-top: 5px;
    /* Ajusta este valor según sea necesario */
}