body {
  background: #0f5999 !important;
}

.card {
  border: none;
}

#codigo-qr {
  position: relative;
  width: 100%;
  /* Modificado para ocupar el 100% del ancho del contenedor */
}

#logo-qr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  /* Ajusta el tamaño del logo dentro del código QR */
  max-height: 50%;
  /* Ajusta el tamaño del logo dentro del código QR */
}


/* CSS PARA BOTON DESCARGAR */

button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #4a86dc;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #4a86dc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #4a86dc;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #4a86dc;
}

button:active {
  transform: scale(0.9);
}


#loading-container {
  display: none;
  margin-top: 20px; /* Ajusta el margen según sea necesario */
}

#codigo-qr {
  display: none;
}
